version: "3.9"

services:
  db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: todo_db
    ports:
      - "3307:3306"   # port 3307 di host, 3306 di container
    volumes:
      - db_data:/var/lib/mysql
      - ./db.sql:/docker-entrypoint-initdb.d/db.sql
    # pakai volume supaya database TIDAK hilang saat stop/start

  app:
    image: bas911/todo-app:latest
    container_name: todo-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      DOCKER_ENV: "true"   # ⬅️ beri tahu server.js bahwa ini di dalam Docker
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: todo_db
      DB_PORT: 3306
    depends_on:
      - db

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30

volumes:
  db_data:
